footer {
  background-color: var(--pink-400);
}
.sitemap h2 {
  font-size: 1.6rem;
  color: #323232;
  font-weight: 600;
}
.underBar-footer {
  width: 15rem;
  height: 6px;
  border-radius: 8px;
  background-color: var(--pink-400);
  margin-top: 5px;
}