* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #fff;
}

:root {
    --pink-200: #FCC0FE;
    --pink-400: #E17FB2;
    --purple-500: #7138FF;
}

.container {
    width: 80%;
    margin: 0 auto;
}